/*
Website Name: Mortal Kombat X
Website URL: http://whosnext.netai.net/
Description: Content for the upcoming 2015 game Mortal Kombat X compiled in a website for portfolio purposes.
Author: Chris Fergo Jr.
Author URL: http://www.chrisfergojr.com
*/


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body {
	margin: 0;
	background-color: #000000;
	background-image: url('../imgs/scorp_background.png');
	background-repeat: no-repeat;
}

footer {
	position: fixed;
   	padding-top: 20%;
   	color:#999;
}

.now {
	color: #666;
}

#order-links {
	float: right;
	padding: 0 10% 0 45%;
	color: white;
}

.preorder-content {
	float: right;
	padding: 0 10% 0 0;
}

.video-container {
	float: right;
	padding: 0 10% 0 0;
	color: white;
}

.navbar-brand {
	@elementHeight: 32px;
	padding: ((@navbarHeight - @elementHeight) / 2 - 2) 20px ((@navbarHeight - @elementHeight) / 2 + 2);
	overflow: visible;
	background: no-repeat left center;
	padding: 0px;
	height: 20px;
}

.navbar-inner {
	background-image: url('../imgs/navbar-bg.png');
	background-repeat: repeat-x;
}

video#bgvideo {
	position: fixed;
	z-index: -1;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background-repeat: no-repeat;
	background-image: url('../imgs/whosnext.png');
	background-position: center;
	z-index: 0;
}

.copyright, .navbar-text {
	padding-top: 15px;
	font-size: 8pt;
	color: #666;
	word-wrap: break-word;
}

@media(min-width:768px) {
    .navbar-fixed-top .nav {
        padding: 15px 0;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
